name: Mirror Gitee to GitHub

on:
  schedule:
    - cron: "*/5 * * * *"   # 每5分钟同步一次
  workflow_dispatch:         # 允许手动触发

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror from Gitee
        run: |
          git config --global user.name "${{ secrets.GITEE_USERNAME }}"
          git config --global user.email "${{ secrets.GITEE_USERNAME }}@gitee.com"

          git clone --mirror \
            https://${{ secrets.GITEE_USERNAME }}:${{ secrets.GITEE_ACCESS_TOKEN }}@gitee.com/${{ secrets.GITEE_REPO }}.git \
            repo

      - name: Push to GitHub
        run: |
          cd repo
          git remote add github https://${{ secrets.MY_GITHUB_USERNAME }}:${{ secrets.MY_GITHUB_TOKEN }}@github.com/${{ secrets.MY_GITHUB_REPO }}.git
          git push github --mirror --force
